:root{
    --userIconColor: #172b97;
    --cardBGColor: #75cff0;
}

.userIcon {
    color: var(--userIconColor);
    transition:  0.2s;
    border-radius: 50%;
    transform: scale(1.5);
}
.userIcon:hover{
    border: 2px solid var(--userIconColor);
    background:var(--cardBGColor);
    transform: scale(2) rotate(180deg);
}

.userIcon.hovered {
    border: 2px solid var(--userIconColor);
    background:var(--cardBGColor);
    transform: scale(2) rotate(180deg);
}

.editIcon {
    transform: scale(2);
}

.iconText{
    color: transparent;
    display: none;
    transition: 0s;
    font-family: Yellowtail;
    /* font-family: 'Lobster', cursive; */
    font-weight: 0;

    white-space: nowrap;
    transform: scale(0.1);
    padding-right: 5px;
    padding-left: 5px; 
    margin-bottom: 30px;
    border-radius: 10px;
    border: 2px solid black;
    pointer-events: none;
}

/* grow the icon text when the icon is hovered */
.userIcon:hover + .iconText{
    display: inline;
    transform: scale(3) translate(0px, -28px);
    color:var(--userIconColor);
    background-color: var(--cardBGColor);
    /* margin: auto; */
    text-align: center;
    /* position: relative; 
    top: -5vh; */
    transition: 0.2s;
    /* translate(-50%,-50%); */
    /* width: 100px; */
    pointer-events: none;
}

.userIconWrapper{
    /* background-color: blue; */
  /* this will make its children flex-items */
  display: inline-flex;
  /* align-items items in column */
  flex-direction: column;
  /* center items horizontally */
  align-items: center;
  /* center items vertically */
  justify-content: center;
  border: 1px solid black;
  max-width: 0px;
  max-height: 0px;
}

.otmIcon { 
    color:rgb(204, 69, 69); 
}