/* use root to hold variables */
:root{ 
  --cardBGHoverColor: rgb(65, 119, 141);
  --cardBGColor: #8de4af;
  /* --cardBGColor: rgb(51, 115, 199); */
  --cardBGColorLighter: rgb(114, 154, 206);
  --hoverColor: 200,50,50,0.5;
  --bodyBGColor: #fffbf7;
  /* --bodyBGColor: rgb(206, 190, 177); */
  --buttonColor: rgb(65, 119, 141); 
  --buttonTextColor: #edf5e0;
  --buttonHoverColor: rgb(255, 255, 255);
  --buttonHoverTextColor: #575a54;
  --textColor: #332a2a;
  --borderColor: #05396b;
  --displayHeight: 88vh; 
}

body {
  /* margin: 0; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif; */
  /* font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;  */
  font-family: 'Kameron', serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bodyBGColor);
  color: var(--textColor);
  line-height: 1.5em;
  padding:20px;
  padding-top:5px;
}

.mainContainer {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{ 
  font-family: Yellowtail; 
  font-size: 2.5rem;
  display: inline;
}

.NavBarParent {
  display: inline-grid; 
}

.NavBarButton {
  font-family: Yellowtail;
  font-weight: normal;
  font-size: 1.1rem;
  padding: 10px;
  margin:10px;
  border: none; 
  /* background-color: var(--bodyBGColor); */
  background-color: transparent;
  color: var(--textColor);
  border-radius: 110% 10% 110% 5%;
}
.NavBar button:hover{
  background-color: var(--cardBGColor);
  border-radius: 110% 10% 110% 5%;
  border:none;
}

button:focus{
  /* remove highlight when button is clicked */
  outline:0;
}

.NavBar button.highlight{
  background-color: var(--cardBGColor);
}

.AttractionList {
  width:40%;
  /* height: 100vh;  */
  height: var(--displayHeight);
  float: left;
  overflow-y: auto; 
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--borderColor) transparent;
}

.newAttractionForm { 
  width:40%;  
  float: left;
  margin: 10px;  
}

#myMap {
  height: var(--displayHeight); 
  border: 5px solid var(--borderColor);
  border-radius: 10px;
  margin: 10px;
  /* setting z index to less than 0 so the AttractionCardLarge can appear over it */
  z-index: -1;

}

/* popup */
.leaflet-popup-content-wrapper {
  background-color: var(--cardBGColor);
  border: 2px solid var(--borderColor)
}
.leaflet-popup-content {
  /* font-size: 2em; */
  font-size: 1em;
}

.popupName { 
  font-size:2em;
  font-family: Yellowtail;
}

.popupText{
  font-size:1.5em;  
}

.AttractionListCard {
  border: 2px solid var(--borderColor); 
  background-color: var(--cardBGColor);
  border-radius: 10px;
  max-width: 95%;
  margin: 5px;
  padding: 7px;
  transition: all 0.1s;
}

.AttractionListCard:hover{
  background-color: var(--buttonTextColor);
  /* color: var(--buttonTextColor) */
}

.MyAttractionListCard { 
  max-width: 50%;
}


.name {
  text-transform: capitalize;
  margin:0px;
  display: inline;
  font-size: 1.4em;
  font-family: Yellowtail;
}

.address {
  font-size: 0.8rem;
  font-style: italic;
  float:right;
  /* margin-top: 0px; */
}

.description { 
  /* overflow-y:auto;  */
  /* margin-top: 5px; */
}


/* about page  */
.informationBox { 
  border: 5px solid var(--borderColor);
  padding: 10px;
  border-radius: 20px;
  background-color: var(--cardBGColor);
  max-width: 50%;
}

.About { 
  margin: auto; 
}


.About a{
  font-weight: bold;
  color: black; 
  text-decoration:underline;
}


button {
  font-family: Yellowtail; 
  font-weight: bold;
  font-size: 1em;
  padding:10px;
  background-color: var(--buttonColor);
  color: var(--buttonTextColor);
  margin:5px;
  text-transform: uppercase;
  border: 2px solid black;
  border-radius: 10px;
  transition: all 0.1s;
} 

button:hover {
  background-color: var(--buttonHoverColor);
  color: var(--buttonHoverTextColor);
  /* border: 1px solid var(--buttonHoverColor); */
}


input, textarea{
  /* box-shadow: inset 0em 0.5em 5em rgb(var(--cardBGColorLighter)); */
  background-color: var(--cardBGColor);
  border: none;
  border-bottom: 3px solid transparent;
  font-size: 1rem;
  width: 90%;
  transition: all 0.2s;
  margin:10px;
}

input:hover, input:focus, textarea:hover, textarea:focus{
  border-bottom: 3px solid var(--textColor);
  outline:0;
  /* background-color: var(--cardBGColorLighter ); */
}


.MyAccount { 

  margin: auto; 
}
label {
  font-family: Yellowtail; 
  font-size: 1.5em;

}
.MyAccount label{
  font-weight: bold;
  transform: rotate(-90deg);
}

.MyAccount input {
  padding: 5px;
  margin: 5px;
}

.editAttractionForm { 
  margin: 10px;
}

/* popup style taken from https://dev.to/skptricks/create-simple-popup-example-in-react-application-5g7f */
.AttractionCardLarge {
  /* darken background */
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto; 
  position: fixed;   
  width: 100%;  
  height: 100%;  
  background-color: rgba(0,0,0, 0.5);
}

.AttractionCardLargeInner {
  /* actual popup div */
  position: absolute;  
  width:100%;
  left: 0%;  
  right: 00%;  
  top: 10%;  
  bottom: 10%;  
  margin: auto;  
  /* z-index: 1000; */
}

.ReviewList{
  overflow-y: scroll;
  height:60%;
}

.ReviewCard { 
  width:90%;
  max-width: none;
  margin:10px;
  /* border: 2px solid var(--borderColor) */
}